<h2>Chat & geteilte Notizen</h2>
<p>
  Im linken Bereich von heiconf befinden sich 3 Möglichkeiten zur Text-Kommunikation:
  <img src="/images/contents/hc-chatsnotes.jpg">
  Der öffentliche Chat ist für alle sichtbar.<br>
  Über einen Klick auf einen Teilnehmer kann ein privater Chat mit diesem Teilnehmer gestartet werden.<br>
  Die geteilten Notizen können von jedem bearbeitet und gelöscht werden, und erlauben Formatierung des Textes.
</p>
<div class="actions-text-vertical">
  <button onclick="action(-1)" data-actionid="-1">Ich benötige wietere Hilfe</button>
</div>