<h2>Chat & shares notes</h2>
<p>
  The left hand side of heiconf offers various text-based communication methods:
  <img src="/images/contents/hc-chatsnotes.jpg">
  Public chat is visible to all participants.<br>
  Clicking a user name allows opening a private chat with just that participant.<br>
  The shared notes can be edited and deleted by every participant and allow text formatting.
</p>
<div class="actions-text-vertical">
  <button onclick="action(-1)" data-actionid="-1">I need further help</button>
</div>