.cards-container {
  height: 100%;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  top: 0;
  padding: 125px 16px 25px 16px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.cards-container .cards-wrapper {
  position: relative;
  width: 100%;
}
.cards-container .cards-wrapper .card {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 16px;
  overflow-y: auto;
  transition: transform 0.5s, opacity 0.5s;
  border-radius: 16px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
  background-color: #eee;
}
.cards-container .cards-wrapper .card.offscreen {
  transform: translateY(-150%);
}
.cards-container .cards-wrapper .card.oldlang {
  transform: rotate(180deg);
  opacity: 0;
}
.cards-container .cards-wrapper .card.newlang {
  transform: rotate(-180deg);
}
.cards-container .cards-wrapper .card:nth-child(1) {
  top: 10px;
}

.card h2 {
  margin-top: 0;
}
.card p.cta {
  text-align: center;
  font-weight: 600;
  padding-top: 16px;
}
@media (max-width: 400px) {
  .card p.cta {
    padding-top: 0;
  }
}
.card .actions-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card .actions-text-vertical {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}
.card .actions-compound {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card .actions-compound .btn-compound {
  width: 100%;
  max-width: 450px;
  border: 4px solid #12d5c2;
  border-radius: 16px;
  margin: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.05s;
  outline: none;
  background: #e6e6e6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 400px) {
  .card .actions-compound .btn-compound {
    margin: 8px;
  }
}
.card .actions-compound .btn-compound:hover {
  transform: scale(1.03);
}
.card .actions-compound .btn-compound:active:hover {
  transform: scale(0.98);
}
.card .actions-compound .btn-compound .img-container {
  width: 30%;
  margin: 16px;
  display: flex;
  align-items: center;
}
@media (max-width: 400px) {
  .card .actions-compound .btn-compound .img-container {
    margin: 8px;
  }
}
.card .actions-compound .btn-compound .img-container img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: #0d7b94;
  background: linear-gradient(-20deg, #0d7b94 0%, #30f2df 100%);
  color: #111;
}

.centered {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 16px;
}

.center {
  text-align: center;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

a {
  color: #12d5c2;
}
a:visited {
  color: #12d5c2;
}

button, .btn {
  border-radius: 50px;
  padding: 12px 16px;
  font-size: 1.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.05s;
  outline: none;
  background: #12d5c2;
  color: white;
  border: none;
}
button:hover, .btn:hover {
  transform: scale(1.03);
}
button:active:hover, .btn:active:hover {
  transform: scale(0.98);
}
button.warning, .btn.warning {
  background: #ff6688;
  color: white;
  border: none;
}
button:disabled, .btn:disabled {
  background: #aaa;
  cursor: default;
  transform: none;
}

.title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;
  font-family: monospace;
  position: absolute;
  font-size: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
@media (min-width: 400px) {
  .title {
    font-size: 3rem;
  }
}

.back-btn {
  position: fixed;
  top: 16px;
  left: 16px;
  width: 48px;
  height: 48px;
  padding: 12px;
  cursor: pointer;
  border-radius: 24px;
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s;
  transform: scale(0);
}
.back-btn img {
  width: 24px;
  height: 24px;
}
.back-btn.visible {
  transform: scale(1);
}
.back-btn.visible:hover {
  transform: scale(1.03);
}
.back-btn.visible:active {
  transform: scale(0.98);
}

.language-picker {
  position: fixed;
  top: 16px;
  right: 16px;
}
.language-picker .btn-menu {
  background-color: #eee;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s;
}
.language-picker .btn-menu:hover {
  transform: scale(1.03);
}
.language-picker .btn-menu:active {
  transform: scale(0.98);
}
.language-picker .language-menu {
  display: none;
  position: relative;
  top: 8px;
}
.language-picker .language-menu.visible {
  display: block;
}
.language-picker .language-menu img {
  width: 40px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.language-picker .language-menu img:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
  transform: scale(1.02);
}
.language-picker .language-menu img:active {
  transform: scale(0.99);
}


/*# sourceMappingURL=style.css.map*/