<h2>Support kontaktieren</h2>
<p>
  Leider konnte der Assistent das Problem nicht beheben. Hier sind die Kontaktdaten für den technischen Support:
</p>
<p>
  Telefon: 0123-456788<br>
  Telefon 2: 0123-456789<br><br>
  Gerne auch über Telegram oder WhatsApp kontaktieren.
</p>
<p>
  Alternativ per E-Mail:<br>
  <a href="mailto:support@example.org">support@example.org</a>
</p>
<p>
  Oder im Pausenraum fragen:<br>
  <a href="https://webex.com">WebEx Pausenraum</a>
</p>
<p>
  Der folgende Code kann dem Support helfen, die bereits ausprobierten Schritte nachzuvollziehen:
</p>
<p class="cta">
  Code: ---PATHCODE---
</p>