<h2>Contact support</h2>
<p>
  Unfortunately the assistant couldn't fix your problem. Contact our technical support:
</p>
<p>
  Telephone: 0123-456788<br>
  Telephone 2: 0123-456789<br><br>
  You can also reach us via Telegram and WhatsApp.
</p>
<p>
  Alternatively via E-Mail:<br>
  <a href="mailto:support@example.org">support@example.org</a>
</p>
<p>
  Or ask in our chillout room:<br>
  <a href="https://webex.com">WebEx chillout room</a>
</p>
<p>
  The following code can help our support staff to see what you've tried already:
</p>
<p class="cta">
  Code: ---PATHCODE---
</p>