<h2>Tonproblem</h2>
<p class="cta">
  Welches Problem besteht?
</p>
<div class="actions-text-vertical">
  <button onclick="action(0)" data-actionid="0">Ich höre andere nicht</button>
  <button onclick="action(1)" data-actionid="1">Andere hören mich nicht</button>
  <button onclick="action(2)" data-actionid="2">Die Verbindung ist schlecht</button>
  <button onclick="action(3)" data-actionid="3">Wie schalte ich mich / andere auf stumm / laut?</button>
  <button onclick="action(4)" data-actionid="4">Ich höre ein Echo / Rückkopplung</button>
</div>