<h2>Präsentationen, Umfragen & Whiteboard</h2>
<div class="actions-text-vertical">
  <button onclick="action(0)" data-actionid="0">Upload von Dokumenten als Präsentation</button>
  <button onclick="action(1)" data-actionid="1">Bildschirmübertragung</button>
  <button onclick="action(2)" data-actionid="2">Erstellen einer Umfrage</button>
  <button onclick="action(3)" data-actionid="3">Anzeige eines Videos</button>
  <button onclick="action(4)" data-actionid="4">Nutzung des gemeinsamen Whiteboards</button>
  <button onclick="action(5)" data-actionid="5">Als Moderator einen Presenter ernennen</button>
</div>