<h2>Presentations, Polls & Whiteboard</h2>
<div class="actions-text-vertical">
  <button onclick="action(0)" data-actionid="0">Uploading documents for presentation</button>
  <button onclick="action(1)" data-actionid="1">Screen sharing</button>
  <button onclick="action(2)" data-actionid="2">Creating a poll</button>
  <button onclick="action(3)" data-actionid="3">Showing a video</button>
  <button onclick="action(4)" data-actionid="4">Using the shared whiteboard</button>
  <button onclick="action(5)" data-actionid="5">How to promote a user to a presenter</button>
</div>