<h2>Problemtyp</h2>
<p class="cta">
  Welcher Art ist das Problem mit Heiconf?
</p>
<div class="actions-text-vertical">
  <button onclick="action(0)" data-actionid="0">Login</button>
  <button onclick="action(1)" data-actionid="1">Ton</button>
  <button onclick="action(2)" data-actionid="2">Video</button>
  <button onclick="action(3)" data-actionid="3">Telefoneinwahl</button>
  <button onclick="action(4)" data-actionid="4">Chat & geteilte Notizen</button>
  <button onclick="action(5)" data-actionid="5">Präsentation, Umfragen, gemeinsames Whiteboard</button>
  <button onclick="action(6)" data-actionid="6">Nutzerverwaltung</button>
  <button onclick="action(7)" data-actionid="7">Breakout-Räume</button>
</div>