<h2>Problemtyp</h2>
<p class="cta">
  Welcher Art ist das Problem mit Heiconf?
</p>
<div class="actions-text-vertical">
  <button onclick="action(0)" data-actionid="0">Verbindung nicht möglich</button>
  <button onclick="action(1)" data-actionid="1">Ich höre nichts</button>
  <button onclick="action(2)" data-actionid="2">Andere hören mich nicht</button>
  <button onclick="action(3)" data-actionid="3">Unterbrechungen / schlechte Qualität</button>
  <button onclick="action(4)" data-actionid="4">Kein Bild sichtbar</button>
  <button onclick="action(5)" data-actionid="5">Hilfe zu Chat, Notizen etc.</button>
</div>