<h2>Type of issue</h2>
<p class="cta">
  What type of issue do you face using Heiconf?
</p>
<div class="actions-text-vertical">
  <button onclick="action(0)" data-actionid="0">Login</button>
  <button onclick="action(1)" data-actionid="1">Audio</button>
  <button onclick="action(2)" data-actionid="2">Video</button>
  <button onclick="action(3)" data-actionid="3">Phone dial-up</button>
  <button onclick="action(4)" data-actionid="4">Chat & shared notes</button>
  <button onclick="action(5)" data-actionid="5">Presentation, Votes, shared Whiteboard</button>
  <button onclick="action(6)" data-actionid="6">User management</button>
  <button onclick="action(7)" data-actionid="7">Breakout rooms</button>
</div>