<h2>Per Telefon einwählen</h2>
<p>
  Falls die Telefoneinwahl in Ihrem Raum aktiviert ist, sehen Sie die Option dazu beim Betreten des Raumes:
  <img src="/images/contents/hc-joinphone.jpg">
  Klicken Sie den Link, um per Telefon beizutreten, und wählen Sie die daraufhin angezeigte Nummer.<br>
  Im Anschluss geben Sie die zugehörige PIN ein, sobald Sie dazu aufgefordert werden.<br>
  Mit der <strong>"0"</strong> können Sie sich <strong>stumm / laut</strong> stellen.
</p>
<div class="actions-text-vertical">
  <button onclick="action(-1)" data-actionid="-1">Ich benötige weitere Hilfe</button>
</div>