<h2>Willkommen</h2>
<p>
  Dieser Assistent hilft bei Problemen mit heiconf und Webex.
</p>
<p class="cta">
  Wählen Sie dazu zunächst Ihre Plattform aus:
</p>
<div class="actions-compound">
  <div class="btn-compound" onclick="action(0)" data-actionid="0">
    <div class="img-container" style="height: 64px;"><img src="/images/contents/logo-heiconf.png"></div>
    <p>Heiconf</p>
  </div>
  <div class="btn-compound" onclick="action(1)" data-actionid="1">
    <div class="img-container" style="height: 64px;"><img src="/images/contents/logo-webex.webp"></div>
    <p>Cisco Webex</p>
  </div>
</div>