<h2>Welcome</h2>
<p>
  This assistant helps with issues regarding Heiconf and Webex.
</p>
<p class="cta">
  First, choose the platform your having issues with:
</p>
<div class="actions-compound">
  <div class="btn-compound" onclick="action(0)">
    <div class="img-container" style="height: 64px;"><img src="/images/contents/logo-heiconf.png"></div>
    <p>Heiconf</p>
  </div>
  <div class="btn-compound" onclick="action(1)">
    <div class="img-container" style="height: 64px;"><img src="/images/contents/logo-webex.webp"></div>
    <p>Cisco Webex</p>
  </div>
</div>